@import "src/styles/common";

.comment {
  margin-bottom: 2rem;
  width: 100%;
  background-color: $header-color;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;

  &__wrapper {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }

  &__user {
    display: block;
    @include font(semibold, p1, $primary-color);
  }

  &__text {
    margin-right: auto;
    display: block;
    @include font(regular, p2, $text-color);
    flex-grow: 1;

    @media all and (max-width: 768px) {
      flex-grow: 0;
    }
  }

  &__btn {
    @include font(regular, p3, $primary-color);
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &:focus-visible {
      @include focus-outline();
    }

    &:hover {
      color: $secondary-color;
    }

    &:active {
      color: $primary-color;
      opacity: 0.7;
    }
  }
}
