@import "src/styles/common";

.comment {
  margin-bottom: 2rem;
  width: 100%;
  background-color: $header-color;
  border-radius: 0.5rem;

  &__wrapper {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }

  &__user {
    display: block;
  }

  &__text {
    display: block;
    margin-right: auto;
    flex-grow: 1;
  }

  &__btn {

  }
}
