@import "src/styles/common";

.field {
  position: relative;

  &__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include font(regular, p3, $text-color);
  }
}
