@import "src/styles/common";

.field {
  position: relative;

  &__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include font(regular, p3, $text-color);
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &:focus-visible {
      @include focus-outline();
    }

    &:hover {
      color: $secondary-color;
    }

    &:active {
      color: $primary-color;
      opacity: 0.7;
    }
  }
}
