@use "variables";

@mixin font($weight: regular, $type, $color: var(--text)) {
  $font-type: map-get(variables.$font-type-map, $type);

  font-weight: map-get(variables.$font-weight-map, $weight);
  font-size: nth($font-type, 1);
  line-height: nth($font-type, 2);
  color: $color;
}

@mixin button() {
  padding: 1rem 2rem;
  text-align: center;
  background-color: variables.$primary-color;
  @include font(semibold, p2, variables.$background-color);
  border-radius: 0.7rem;
  transition: opacity 0.2s ease-in-out;

  &:disabled {
    opacity: 0.5;
  }
}
