$background-color: #ffffff;
$header-color: gainsboro;
$text-color: #000000;
$error-color: red;
$primary-color: green;

$font-weight-map: (
  'regular': 400,
  'semibold': 600,
  'bold': 700,
);

$title1: 2.5rem, 100%;
$title2: 2rem, 100%;

$text1: 1.8rem, 2rem;
$text2: 1.4rem, 100%;
$text3: 1.2rem, 100%;
$text4: 1rem, 100%;

$font-type-map: (
  'h1':$title1,
  'h2':$title2,
  'p1':$text1,
  'p2':$text2,
  'p3':$text3,
  'p4':$text4,
);
