@import "src/styles/common";

.field {
  position: relative;
  width: 100%;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    min-width: 25rem;
    padding-right: 3.2rem;
    @include font(regular, p2, $text-color);
    border: none;
    border-bottom: 0.1rem solid $text-color;
    transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:focus-visible,
    &:active {
      border-bottom-color: $secondary-color;
    }

    &:hover {
      color: $secondary-color;
    }
  }

  &__error {
    position: absolute;
    bottom: -1.7rem;
    right: 0;
    @include font(regular, p4, $error-color);
  }
}
