@import "src/styles/common";

.comments {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1.5rem;
  }

  &__input {
    width: 100%;
    @include font(regular, p2, $text-color);
    border-color: $text-color;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:focus-visible,
    &:active {
      border-color: $secondary-color;
    }

    &:hover {
      color: $secondary-color;
    }
  }

  &__btn {
    @include button();
  }
}
